USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksGetList]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[spBooksGetList] @PageNumber int=1, @PageSize int=10
AS BEGIN SET NOCOUNT ON;
 SELECT Id,Title,Author,PublicationYear,Isbn,Publisher,Description,CONVERT(nvarchar(max),ContentsXml) ContentsXml,CreatedAt,UpdatedAt
 FROM dbo.tblBooks ORDER BY Title OFFSET (@PageNumber-1)*@PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
 SELECT COUNT(*) TotalCount FROM dbo.tblBooks;
END;
GO
