USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksSearch]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spBooksSearch] @Search nvarchar(300)=NULL, @PageNumber int=1, @PageSize int=10
AS BEGIN SET NOCOUNT ON;
 DECLARE @Pattern nvarchar(604)=N'%'+REPLACE(REPLACE(REPLACE(ISNULL(@Search,N''),N'[',N'[[]'),N'%',N'[%]'),N'_',N'[_]')+N'%';
 ;WITH Matches AS (
   SELECT * FROM dbo.tblBooks b WHERE @Search IS NULL OR LTRIM(RTRIM(@Search))=N''
   OR b.Title LIKE @Pattern OR b.Author LIKE @Pattern
   OR b.ContentsXml.exist('//*[local-name(.)=("Chapter","Section")][contains(lower-case(string((@title, text())[1])), lower-case(sql:variable("@Search")))]')=1
 )
 SELECT Id,Title,Author,PublicationYear,Isbn,Publisher,Description,CONVERT(nvarchar(max),ContentsXml) ContentsXml,CreatedAt,UpdatedAt
 FROM Matches ORDER BY Title OFFSET (@PageNumber-1)*@PageSize ROWS FETCH NEXT @PageSize ROWS ONLY;
 SELECT COUNT(*) TotalCount FROM dbo.tblBooks b WHERE @Search IS NULL OR LTRIM(RTRIM(@Search))=N''
 OR b.Title LIKE @Pattern OR b.Author LIKE @Pattern
 OR b.ContentsXml.exist('//*[local-name(.)=("Chapter","Section")][contains(lower-case(string((@title, text())[1])), lower-case(sql:variable("@Search")))]')=1;
END;
GO
