USE [books]
GO
/****** Object:  StoredProcedure [dbo].[usp_GenerateTableDDL]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[usp_GenerateTableDDL]
    @SchemaName NVARCHAR(128) = 'dbo',
    @TableName NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DDL NVARCHAR(MAX) = '';
    DECLARE @FullTableName NVARCHAR(256) = QUOTENAME(@SchemaName) + '.' + QUOTENAME(@TableName);

    -- Проверяем существование таблицы
    IF NOT EXISTS (
        SELECT 1 
        FROM sys.tables t
        INNER JOIN sys.schemas s ON t.schema_id = s.schema_id
        WHERE s.name = @SchemaName AND t.name = @TableName
    )
    BEGIN
        RAISERROR('Таблица %s.%s не найдена', 16, 1, @SchemaName, @TableName);
        RETURN;
    END

    -- Начало CREATE TABLE
    SET @DDL = 'CREATE TABLE ' + @FullTableName + ' (' + CHAR(13) + CHAR(10);

    -- Колонки таблицы
    DECLARE @Columns NVARCHAR(MAX);
    SELECT @Columns = STRING_AGG(
        '    ' + QUOTENAME(c.name) + ' ' + 
        tp.name + 
        CASE 
            WHEN tp.name IN ('varchar', 'nvarchar', 'char', 'nchar', 'binary', 'varbinary') 
            THEN '(' + CASE WHEN c.max_length = -1 THEN 'MAX' ELSE CAST(c.max_length AS VARCHAR) END + ')'
            WHEN tp.name IN ('decimal', 'numeric') 
            THEN '(' + CAST(c.precision AS VARCHAR) + ',' + CAST(c.scale AS VARCHAR) + ')'
            ELSE ''
        END +
        CASE WHEN c.is_nullable = 0 THEN ' NOT NULL' ELSE ' NULL' END +
        ISNULL(' DEFAULT ' + dc.definition, '') +
        CASE WHEN c.is_identity = 1 THEN ' IDENTITY(' + CAST(IDENT_SEED(@FullTableName) AS VARCHAR) + ',' + CAST(IDENT_INCR(@FullTableName) AS VARCHAR) + ')' ELSE '' END,
        ',' + CHAR(13) + CHAR(10)
    ) WITHIN GROUP (ORDER BY c.column_id)
    FROM sys.columns c
    INNER JOIN sys.types tp ON c.user_type_id = tp.user_type_id
    LEFT JOIN sys.default_constraints dc ON c.default_object_id = dc.object_id
    WHERE c.object_id = OBJECT_ID(@FullTableName);

    SET @DDL = @DDL + @Columns;

    -- Первичный ключ
    DECLARE @PK NVARCHAR(MAX);
    SELECT @PK = STRING_AGG(
        '    CONSTRAINT ' + QUOTENAME(kc.name) + ' PRIMARY KEY ' + 
        CASE WHEN i.type = 1 THEN 'CLUSTERED' ELSE 'NONCLUSTERED' END + 
        ' (' + cols + ')',
        ',' + CHAR(13) + CHAR(10)
    )
    FROM sys.key_constraints kc
    INNER JOIN sys.indexes i ON kc.parent_object_id = i.object_id AND kc.unique_index_id = i.index_id
    CROSS APPLY (
        SELECT STRING_AGG(QUOTENAME(c.name) + CASE WHEN ic.is_descending_key = 1 THEN ' DESC' ELSE ' ASC' END, ', ')
        FROM sys.index_columns ic
        INNER JOIN sys.columns c ON ic.object_id = c.object_id AND ic.column_id = c.column_id
        WHERE ic.object_id = i.object_id AND ic.index_id = i.index_id
    ) AS idx(cols)
    WHERE kc.parent_object_id = OBJECT_ID(@FullTableName) AND kc.type = 'PK';

    IF @PK IS NOT NULL
        SET @DDL = @DDL + ',' + CHAR(13) + CHAR(10) + @PK;

    -- Внешние ключи
    DECLARE @FKs NVARCHAR(MAX);
    SELECT @FKs = STRING_AGG(
        '    CONSTRAINT ' + QUOTENAME(fk.name) + ' FOREIGN KEY (' + 
        parent_cols + ') REFERENCES ' + 
        QUOTENAME(OBJECT_SCHEMA_NAME(fk.referenced_object_id)) + '.' + 
        QUOTENAME(OBJECT_NAME(fk.referenced_object_id)) + 
        ' (' + ref_cols + ')',
        ',' + CHAR(13) + CHAR(10)
    )
    FROM sys.foreign_keys fk
    CROSS APPLY (
        SELECT STRING_AGG(QUOTENAME(pc.name), ', ')
        FROM sys.foreign_key_columns fkc
        INNER JOIN sys.columns pc ON fkc.parent_object_id = pc.object_id AND fkc.parent_column_id = pc.column_id
        WHERE fkc.constraint_object_id = fk.object_id
    ) AS parent(parent_cols)
    CROSS APPLY (
        SELECT STRING_AGG(QUOTENAME(rc.name), ', ')
        FROM sys.foreign_key_columns fkc
        INNER JOIN sys.columns rc ON fkc.referenced_object_id = rc.object_id AND fkc.referenced_column_id = rc.column_id
        WHERE fkc.constraint_object_id = fk.object_id
    ) AS ref(ref_cols)
    WHERE fk.parent_object_id = OBJECT_ID(@FullTableName);

    IF @FKs IS NOT NULL
        SET @DDL = @DDL + ',' + CHAR(13) + CHAR(10) + @FKs;

    -- Закрываем CREATE TABLE
    SET @DDL = @DDL + CHAR(13) + CHAR(10) + ');' + CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10);

    -- Индексы (некластерные)
    DECLARE @Indexes NVARCHAR(MAX);
    SELECT @Indexes = STRING_AGG(
        'CREATE ' + 
        CASE WHEN i.is_unique = 1 THEN 'UNIQUE ' ELSE '' END +
        'NONCLUSTERED INDEX ' + QUOTENAME(i.name) + ' ON ' + @FullTableName + 
        ' (' + cols + ');' + CHAR(13) + CHAR(10),
        ''
    )
    FROM sys.indexes i
    CROSS APPLY (
        SELECT STRING_AGG(QUOTENAME(c.name) + CASE WHEN ic.is_descending_key = 1 THEN ' DESC' ELSE ' ASC' END, ', ')
        FROM sys.index_columns ic
        INNER JOIN sys.columns c ON ic.object_id = c.object_id AND ic.column_id = c.column_id
        WHERE ic.object_id = i.object_id AND ic.index_id = i.index_id
    ) AS idx(cols)
    WHERE i.object_id = OBJECT_ID(@FullTableName) 
      AND i.type = 2
      AND i.is_unique_constraint = 0;

    IF @Indexes IS NOT NULL
        SET @DDL = @DDL + @Indexes;

    -- Вывод результата
    PRINT @DDL;
END;
GO
