USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksUpdateContentsXml]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBooksUpdateContentsXml]
    @Id int,
    @ContentsXml xml,
    @ResultCode TINYINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.tblBooks 
    SET ContentsXml = @ContentsXml,
        UpdatedAt = SYSUTCDATETIME()
    WHERE Id = @Id;

   SET @ResultCode = CASE WHEN @@ROWCOUNT = 0 THEN 0 ELSE 1 END;
END;
GO
