USE [books]
GO
/****** Object:  Table [dbo].[TblBookTypes]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBookTypes](
	[BookId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
 CONSTRAINT [PK_TblBookBookTypes] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblBookTypes]  WITH CHECK ADD  CONSTRAINT [FK_TblBookBookTypes_TblBooks] FOREIGN KEY([BookId])
REFERENCES [dbo].[tblBooks] ([Id])
GO
ALTER TABLE [dbo].[TblBookTypes] CHECK CONSTRAINT [FK_TblBookBookTypes_TblBooks]
GO
ALTER TABLE [dbo].[TblBookTypes]  WITH CHECK ADD  CONSTRAINT [FK_TblBookBookTypes_TblBookTypes] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TblTypes] ([Id])
GO
ALTER TABLE [dbo].[TblBookTypes] CHECK CONSTRAINT [FK_TblBookBookTypes_TblBookTypes]
GO
