USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksGetById]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- spBooksGetById V2: список книг с фильтрами, сортировкой и пагинацией
-- Заменяет пару ХП spBooksGetList + spBooksSearch для страницы «Список книг».
-- Фильтры: поиск (название/автор/ISBN/оглавление), жанр, тип, год, автор.
-- Сортировка: title | author | year | pages | id, направление — @SortDesc.
-- Выполнять на dbo.
-- ============================================================
CREATE   PROCEDURE [dbo].[spBooksGetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Набор 1: книга (включая CountPages)
    SELECT Id, Title, Author, PublicationYear,
           Isbn, Publisher, Description, CountPages,
           CreatedAt, UpdatedAt
    FROM dbo.tblBooks
    WHERE Id = @Id;

    -- Набор 2: главы/оглавление
    SELECT Id, BookId, ChapterNumber, Title, PageStart
    FROM dbo.tblChapters
    WHERE BookId = @Id
    ORDER BY ChapterNumber;
END;
GO
