USE [books]
GO
/****** Object:  Table [dbo].[tblBooks]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBooks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Author] [nvarchar](250) NOT NULL,
	[PublicationYear] [int] NOT NULL,
	[Isbn] [nvarchar](20) NULL,
	[Publisher] [nvarchar](250) NULL,
	[Description] [nvarchar](4000) NULL,
	[ContentsXml] [xml] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[CountPages] [int] NOT NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Books_Title_Author]    Script Date: 25.09.2026 10:05:26 ******/
CREATE NONCLUSTERED INDEX [IX_Books_Title_Author] ON [dbo].[tblBooks]
(
	[Title] ASC,
	[Author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_TblBooks_Isbn]    Script Date: 25.09.2026 10:05:26 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TblBooks_Isbn] ON [dbo].[tblBooks]
(
	[Isbn] ASC
)
WHERE ([Isbn] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblBooks] ADD  CONSTRAINT [DF_Books_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[tblBooks] ADD  CONSTRAINT [DF_Books_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[tblBooks] ADD  CONSTRAINT [DF_TblBooks_CounPages]  DEFAULT ((0)) FOR [CountPages]
GO
