USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksCreate]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBooksCreate]
    @Title NVARCHAR(200), @Author NVARCHAR(200), @PublicationYear SMALLINT,
    @Isbn NVARCHAR(20) = NULL, @Publisher NVARCHAR(100) = NULL,
    @Description NVARCHAR(MAX) = NULL, @ContentsXml NVARCHAR(MAX),
    @PageCount INT = 0,
    @NewId INT OUTPUT, @ResultCode TINYINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO dbo.tblBooks (Title, Author, PublicationYear, Isbn, Publisher,
            Description, ContentsXml, CountPages, CreatedAt, UpdatedAt)
        VALUES (@Title, @Author, @PublicationYear, @Isbn, @Publisher,
            @Description, @ContentsXml, ISNULL(@PageCount, 0), SYSUTCDATETIME(), SYSUTCDATETIME());
        SET @NewId = SCOPE_IDENTITY();
        SET @ResultCode = 1;
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() IN (2627, 2601) SET @ResultCode = 2;  -- уникальность ISBN
        ELSE THROW;
    END CATCH
END;
GO
