USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksUpdate]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBooksUpdate]
    @Id INT, @Title NVARCHAR(200), @Author NVARCHAR(200), @PublicationYear SMALLINT,
    @Isbn NVARCHAR(20) = NULL, @Publisher NVARCHAR(100) = NULL,
    @Description NVARCHAR(MAX) = NULL, @ContentsXml NVARCHAR(MAX),
    @PageCount INT = 0,
    @ResultCode TINYINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE dbo.tblBooks SET Title=@Title, Author=@Author, PublicationYear=@PublicationYear,
            Isbn=@Isbn, Publisher=@Publisher, Description=@Description,
            ContentsXml=@ContentsXml, CountPages=ISNULL(@PageCount, 0), UpdatedAt=SYSUTCDATETIME()
        WHERE Id = @Id;
        SET @ResultCode = CASE WHEN @@ROWCOUNT = 0 THEN 0 ELSE 1 END;
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() IN (2627, 2601) SET @ResultCode = 2;
        ELSE THROW;
    END CATCH
END;
GO
