USE [books]
GO
/****** Object:  Table [dbo].[TblBookGenres]    Script Date: 25.09.2026 10:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBookGenres](
	[BookId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_TblBookGenres] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblBookGenres]  WITH CHECK ADD  CONSTRAINT [FK_TblBookGenres_TblBooks] FOREIGN KEY([BookId])
REFERENCES [dbo].[tblBooks] ([Id])
GO
ALTER TABLE [dbo].[TblBookGenres] CHECK CONSTRAINT [FK_TblBookGenres_TblBooks]
GO
ALTER TABLE [dbo].[TblBookGenres]  WITH CHECK ADD  CONSTRAINT [FK_TblBookGenres_TblGenres] FOREIGN KEY([GenreId])
REFERENCES [dbo].[TblGenres] ([Id])
GO
ALTER TABLE [dbo].[TblBookGenres] CHECK CONSTRAINT [FK_TblBookGenres_TblGenres]
GO
