USE [books]
GO
/****** Object:  StoredProcedure [dbo].[spBooksDelete]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[spBooksDelete]
    @Id INT, @ResultCode TINYINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM dbo.TblBooks WHERE Id = @Id;
        SET @ResultCode = CASE WHEN @@ROWCOUNT = 0 THEN 0 ELSE 1 END;
    END TRY
    BEGIN CATCH
        IF ERROR_NUMBER() IN (547) SET @ResultCode = 2;  -- FK-ссылка: книгу нельзя удалить
        ELSE THROW;
    END CATCH
END;
GO
