USE [books]
GO
/****** Object:  UserDefinedFunction [oper].[fnGetOperationStatusMessage]    Script Date: 25.09.2026 10:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [oper].[fnGetOperationStatusMessage]
(
    @ResultCode INT
)
RETURNS NVARCHAR(2048)
AS
BEGIN
    IF @ResultCode IS NULL
        RETURN N'Системная ошибка. Повторите позже или обратитесь в поддержку.';

    DECLARE @Message NVARCHAR(2048);

    SELECT @Message = DefaultMessage
    FROM oper.tblOperationResultStatusMap
    WHERE ResultCode = @ResultCode;

    IF @Message IS NULL
    BEGIN
        SET @Message = CASE
                         WHEN @ResultCode = 0 THEN N'Операция выполнена успешно.'
                         WHEN @ResultCode = 1 THEN N'Операция уже была успешно выполнена ранее.'
                         WHEN @ResultCode < 0 THEN N'Системная ошибка. Повторите позже или обратитесь в поддержку.'
                         ELSE N'Неизвестный результат операции.'
                       END;
    END;

    RETURN @Message;
END;
GO
