USE [books]
GO
/****** Object:  StoredProcedure [oper].[procTransferMoney]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [oper].[procTransferMoney]
    @OperationId VARCHAR(64),              -- ключ идемпотентности, приходит от источника операции
    @N1 VARCHAR(20),                       -- счет отправителя
    @N2 VARCHAR(20),                       -- счет получателя
    @S DECIMAL(18, 2),                     -- сумма перевода
    @ResultCode INT = NULL OUTPUT,         -- точный код результата
    @StatusCode INT = NULL OUTPUT,         -- код статуса из справочника
    @ResultMessage NVARCHAR(2048) = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    /*
        ============================================================
        КОДЫ РЕЗУЛЬТАТА
        ============================================================
          0     - перевод выполнен успешно текущим вызовом
          1     - операция уже была успешно выполнена ранее
                  (идемпотентный повтор)

        Отрицательные коды:
        -1001   - счет отправителя не найден
        -1002   - счет получателя не найден
        -1003   - некорректная сумма
        -1004   - некорректные номера счетов
        -1005   - перевод на тот же счет запрещен
        -1205   - конфликт блокировок, повторить позже
        -2000   - недостаточно средств
        -3000   - не указан ключ идемпотентности
        -3001   - операция с этим ключом уже выполняется
        -3002   - некорректный ответ подсистемы идемпотентности
        -3003   - ключ идемпотентности уже использован
                  для другого набора параметров
        -50000  - системная ошибка

        Любой другой отрицательный код может возвращаться
        инфраструктурными процедурами.
        ============================================================
    */

    DECLARE @ReturnCode INT = 0;

    DECLARE @OuterTranCount INT = @@TRANCOUNT;
    DECLARE @Savepoint VARCHAR(32) = 'TransferMoneySave';
    DECLARE @SavepointActive BIT = 0;

    -- Статус, который вернет подсистема идемпотентности:
    -- 0 = новый запрос, можно выполнять
    -- 1 = операция завершена, возвращаем предыдущий результат
    -- 2 = операция уже выполняется параллельно, конфликт
    DECLARE @IdempotencyStatus TINYINT = 255;
    DECLARE @PreviousResult INT = NULL;

    -- Обязательная инициализация выходных параметров
    SET @ResultCode = -50000;
    SET @StatusCode = 5;
    SET @ResultMessage = N'Системная ошибка. Повторите позже или обратитесь в поддержку.';

    BEGIN TRY

        /*
            ============================================================
            БЛОК 1: ПРЕДВАРИТЕЛЬНЫЕ ПРОВЕРКИ
            ============================================================
            Быстрые проверки до открытия транзакции.
            Цель - не тратить ресурсы БД на явно некорректные запросы.
            ============================================================
        */

        IF @OperationId IS NULL OR @OperationId = ''
        BEGIN
            SET @ReturnCode = -3000;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;

        IF @N1 IS NULL OR @N1 = ''
           OR @N2 IS NULL OR @N2 = ''
        BEGIN
            SET @ReturnCode = -1004;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;

        IF @S IS NULL OR @S <= 0
        BEGIN
            SET @ReturnCode = -1003;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;

        IF @N1 = @N2
        BEGIN
            SET @ReturnCode = -1005;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            НАЧАЛО ТРАНЗАКЦИИ
            ============================================================
            Если процедура вызвана без внешней транзакции,
            она управляет транзакцией самостоятельно.

            Если процедура вызвана внутри внешней транзакции,
            создается savepoint.
            ============================================================
        */

        IF @OuterTranCount = 0
        BEGIN
            BEGIN TRANSACTION;
        END
        ELSE
        BEGIN
            SAVE TRANSACTION @Savepoint;
            SET @SavepointActive = 1;
        END;


        /*
            ============================================================
            БЛОК 2: ИДЕМПОТЕНТНОСТЬ
            ============================================================
            Ключ идемпотентности приходит снаружи в @OperationId.

            Ожидаемый контракт:

            infra.IdempotencyBegin:
                @Status = 0 - новый запрос;
                @Status = 1 - операция уже завершена;
                @Status = 2 - операция уже выполняется параллельно.

            infra.IdempotencyComplete:
                помечает операцию как успешно завершенную.
            ============================================================
        */

        EXEC @ReturnCode = infra.IdempotencyBegin
            @OperationId        = @OperationId,
            @OperationType      = 'TRANSFER',
            @AccountFrom        = @N1,
            @AccountTo          = @N2,
            @Amount             = @S,
            @Status             = @IdempotencyStatus OUTPUT,
            @PreviousResultCode = @PreviousResult OUTPUT;

        IF @ReturnCode <> 0
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = N'Ошибка регистрации операции в подсистеме идемпотентности.';

            RETURN @ResultCode;
        END;

        IF @IdempotencyStatus NOT IN (0, 1, 2)
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ReturnCode = -3002;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleIdempotencyConflict
                @OperationId = @OperationId,
                @ErrorCode   = @ReturnCode;

            RETURN @ResultCode;
        END;

        -- Операция уже была успешно выполнена ранее.
        -- Повторный перевод не делаем.
        IF @IdempotencyStatus = 1
        BEGIN
            -- Сделанных изменений нет, поэтому откатываем текущую
            -- транзакцию или savepoint, чтобы отпустить блокировки.
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            EXEC @ReturnCode = infra.WriteIdempotentReplayLog
                @OperationId        = @OperationId,
                @PreviousResultCode = @PreviousResult;

            IF @ReturnCode <> 0
            BEGIN
                SET @ResultCode = @ReturnCode;
                SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
                SET @ResultMessage = N'Ошибка логирования идемпотентного повтора.';

                RETURN @ResultCode;
            END;

            IF ISNULL(@PreviousResult, 0) = 0
            BEGIN
                SET @ReturnCode = 1;
            END
            ELSE
            BEGIN
                SET @ReturnCode = @PreviousResult;
            END;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            RETURN @ResultCode;
        END;

        -- Операция с этим ключом уже выполняется параллельно.
        -- Чтобы не задвоить перевод, возвращаем конфликт.
        IF @IdempotencyStatus = 2
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ReturnCode = -3001;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleIdempotencyConflict
                @OperationId = @OperationId,
                @ErrorCode   = @ReturnCode;

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            БЛОК 3: БЛОКИРОВКА РЕСУРСОВ
            ============================================================
            Фиктивный инфраструктурный сервис блокировки счетов.

            Он должен:
            - блокировать оба счета в детерминированном порядке;
            - защищать от дедлоков при встречных переводах;
            - держать блокировки до конца транзакции.
            ============================================================
        */

        EXEC @ReturnCode = infra.LockTransferAccounts
            @AccountFrom = @N1,
            @AccountTo   = @N2;

        IF @ReturnCode <> 0
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = N'Не удалось заблокировать счета для перевода.';

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            БЛОК 4: ВНУТРЕННИЕ ПРОВЕРКИ
            ============================================================
            Точные проверки по текущему состоянию данных в БД.
            Выполняются только под транзакцией и блокировками.
            ============================================================
        */

        IF NOT EXISTS
        (
            SELECT 1
            FROM oper.T WITH (UPDLOCK)
            WHERE N = @N1
        )
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ReturnCode = -1001;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;

        IF NOT EXISTS
        (
            SELECT 1
            FROM oper.T WITH (UPDLOCK)
            WHERE N = @N2
        )
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ReturnCode = -1002;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            СПИСАНИЕ СРЕДСТВ
            ============================================================
            Одна команда одновременно:
            - списывает деньги;
            - проверяет достаточность средств.
            ============================================================
        */

        UPDATE oper.T
        SET S = S - @S
        WHERE N = @N1
          AND S >= @S;

        IF @@ROWCOUNT = 0
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ReturnCode = -2000;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            ЗАЧИСЛЕНИЕ СРЕДСТВ
            ============================================================
        */

        UPDATE oper.T
        SET S = S + @S
        WHERE N = @N2;

        IF @@ROWCOUNT <> 1
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ReturnCode = -1002;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = N'Не удалось зачислить средства на счет получателя.';

            EXEC infra.HandleTransferBusinessError
                @ErrorCode   = @ReturnCode,
                @OperationId = @OperationId,
                @AccountFrom = @N1,
                @AccountTo   = @N2,
                @Amount      = @S;

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            БИЗНЕС-ЖУРНАЛ
            ============================================================
            Аудит пишется внутри транзакции,
            чтобы быть атомарным с переводом.
            ============================================================
        */

        EXEC @ReturnCode = infra.WriteBusinessLog
            @OperationType = 'TRANSFER',
            @OperationId   = @OperationId,
            @AccountFrom   = @N1,
            @AccountTo     = @N2,
            @Amount        = @S,
            @ResultCode    = 0;

        IF @ReturnCode <> 0
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = N'Ошибка записи бизнес-журнала.';

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            ЗАВЕРШЕНИЕ ИДЕМПОТЕНТНОЙ ОПЕРАЦИИ
            ============================================================
            Помечаем операцию как успешно завершенную.
            Это должно происходить в той же транзакции, что и перевод.
            ============================================================
        */

        EXEC @ReturnCode = infra.IdempotencyComplete
            @OperationId = @OperationId,
            @ResultCode  = 0;

        IF @ReturnCode <> 0
        BEGIN
            IF @OuterTranCount = 0
                ROLLBACK TRANSACTION;
            ELSE IF @SavepointActive = 1
                ROLLBACK TRANSACTION @Savepoint;

            SET @ResultCode = @ReturnCode;
            SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
            SET @ResultMessage = N'Ошибка завершения операции в подсистеме идемпотентности.';

            RETURN @ResultCode;
        END;


        /*
            ============================================================
            КОММИТ
            ============================================================
            Если внешней транзакции нет, фиксируем изменения сами.

            Если внешняя транзакция есть, финальный COMMIT остается
            за вызывающей стороной.
            ============================================================
        */

        IF @OuterTranCount = 0
        BEGIN
            COMMIT TRANSACTION;
        END;

        SET @ReturnCode = 0;

        SET @ResultCode = @ReturnCode;
        SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
        SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

        RETURN @ResultCode;

    END TRY
    BEGIN CATCH

        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();

        /*
            При системной ошибке:
            - если транзакция не может быть закоммичена, откатываем все;
            - если это внешняя транзакция и создан только savepoint,
              откатываем только наш savepoint.
        */

        IF XACT_STATE() = -1
        BEGIN
            ROLLBACK TRANSACTION;
        END
        ELSE IF XACT_STATE() = 1
        BEGIN
            IF @OuterTranCount = 0
            BEGIN
                ROLLBACK TRANSACTION;
            END
            ELSE IF @SavepointActive = 1
            BEGIN
                ROLLBACK TRANSACTION @Savepoint;
            END;
        END;

        -- Технический журнал.
        -- Клиенту не отдаем сырую техническую ошибку.
        BEGIN TRY
            EXEC infra.LogSystemError
                @ErrorNumber  = @ErrorNumber,
                @ErrorMessage = @ErrorMessage,
                @OperationId  = @OperationId,
                @AccountFrom  = @N1,
                @AccountTo    = @N2,
                @Amount       = @S;
        END TRY
        BEGIN CATCH
            -- Если технический журнал недоступен,
            -- все равно возвращаем безопасный результат.
        END CATCH;

        IF @ErrorNumber IN (1205, 1222)
        BEGIN
            SET @ReturnCode = -1205;
        END
        ELSE IF @ErrorNumber IN (2601, 2627)
        BEGIN
            SET @ReturnCode = -3001;
        END
        ELSE
        BEGIN
            SET @ReturnCode = -50000;
        END;

        SET @ResultCode = @ReturnCode;
        SET @StatusCode = oper.fnGetOperationStatusCode(@ReturnCode);
        SET @ResultMessage = oper.fnGetOperationStatusMessage(@ReturnCode);

        RETURN @ResultCode;

    END CATCH;
END;
GO
