USE [books]
GO
/****** Object:  UserDefinedFunction [oper].[fnGetOperationStatusCode]    Script Date: 25.09.2026 10:05:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [oper].[fnGetOperationStatusCode]
(
    @ResultCode INT
)
RETURNS INT
AS
BEGIN
    IF @ResultCode IS NULL
        RETURN 5;

    DECLARE @StatusCode INT;

    SELECT @StatusCode = StatusCode
    FROM oper.tblOperationResultStatusMap
    WHERE ResultCode = @ResultCode;

    IF @StatusCode IS NULL
    BEGIN
        SET @StatusCode = CASE
                            WHEN @ResultCode = 0 THEN 0
                            WHEN @ResultCode < 0 THEN 5
                            ELSE 5
                          END;
    END;

    RETURN @StatusCode;
END;
GO
