USE [books]
GO
/****** Object:  Table [oper].[tblOperationResultStatusMap]    Script Date: 25.09.2026 10:05:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [oper].[tblOperationResultStatusMap](
	[ResultCode] [int] NOT NULL,
	[StatusCode] [int] NOT NULL,
	[DefaultMessage] [nvarchar](2048) NOT NULL,
 CONSTRAINT [pk_tblOperationResultStatusMap] PRIMARY KEY CLUSTERED 
(
	[ResultCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [oper].[tblOperationResultStatusMap]  WITH CHECK ADD  CONSTRAINT [fk_tblOperationResultStatusMap_Status] FOREIGN KEY([StatusCode])
REFERENCES [oper].[tblOperationStatus] ([StatusCode])
GO
ALTER TABLE [oper].[tblOperationResultStatusMap] CHECK CONSTRAINT [fk_tblOperationResultStatusMap_Status]
GO
